<div class="header z2">
    
</div>
<div class="loadercontainer z1">
    <app-sidenav-list style="height:100%; width:30%;">
        <app-loader class="blockcontent">

        </app-loader>
    </app-sidenav-list>
    <div style="height:100%; width:70%;">
        <!--<app-loader interval-speed=200 class="blockcontent">-->
            <app-multi-line-graph class="blockcontent">
                
            </app-multi-line-graph>
        <!--</app-loader>-->
    </div>
</div>
<div class="footer z2">
    
</div>